<%-include('header.ejs')%>
<script>
    const module = {};
    var tryLogin = false;
    window.onload = function () {
        Kakao.init('<%= kakaoJSKey %>');
        const target = $('.dday-txt')[0];
        const christmas = new Date('2023-12-25');
        const diff = Date.now() - christmas;
        const diffDay = Math.floor(diff / (1000 * 60 * 60 * 24));
        if (diffDay == 0) {
            target.innerHTML += '-Day';
        } else if (diffDay > 1) {
            target.innerHTML += ' + ' + diffDay;
        } else if (diffDay < 1) {
            target.innerHTML += ' - ' + Math.abs(diffDay);
        }

        updateToken();
    };

    function onClickLogin(platform) {
        if (tryLogin) return;
        tryLogin = true;
        switch (platform) {
            case 'kakao':
                loginWithKakao();
                break;
            case 'twitter':
                module.loginWithTwitter(onLogin);
                break;
            case 'google':
                module.loginWithGoogle(onLogin);
            default:
                break;
        }
    }

    function onLogin(uid, nickname, email) {
        tryLogin = false;
        if (uid == null) {
            alert('다시 시도해주세요.');
        } else {
            $.ajax({
                url: '/user/login',
                async: true,
                type: 'POST',
                data: {
                    nickname: nickname,
                    uid: uid,
                    email: email,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.isNew) {
                        location.href = '/user/signup?uid=' + uid + '&nickname=' + nickname + '&email=' + email;
                    } else if (data.userId) {
                        setCookie('userId', data.userId, 30);
                        location.href = '/mailbox';
                    }
                },

                error: function (err) {
                    alert('FAILURE : ', err.msg);
                },
            });
        }
    }

    function loginWithKakao(callback) {
        Kakao.Auth.authorize({
            redirectUri: 'http://localhost:3033', // return
        });
    }

    function updateToken() {
        var code = new URL(location.href).searchParams.get('code');

        $.ajax({
            type: 'POST',
            url: 'https://kauth.kakao.com/oauth/token',
            header: {
                'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
            },
            data: { grant_type: 'authorization_code', client_id: '<%= kakaoAPIKey%>', redirect_uri: 'http://localhost:3033', code: code },
            success: function (res) {
                console.log(res);
                let token = res.access_token;
                console.log(token);
                Kakao.Auth.setAccessToken(token);
                Kakao.Auth.getStatusInfo()
                    .then(function (res) {
                        console.log(res, res.id);
                        if (res && res.user && res.user.id) {
                            const t = res.user;
                            onLogin(t.id, t.kakao_account.profile.nickname, t.kakao_account.email);
                        }
                    })
                    .catch(function (err) {
                        Kakao.Auth.setAccessToken(null);
                    });
            },
            error: function (jq, tt, ee) {
                console.log(jq, tt, ee);
            },
        });
    }
</script>
<%-include('firebaseauth.ejs')%>

<div class="login-page">
    <div class="main-wrap">
        <div class="top-img"><img src="/img/img_login_top.png" /></div>
        <div class="dday-txt">Merry Christmas D</div>
        <div class="login-btns">
            <div class="login-btn kakao" onclick="onClickLogin('kakao')">
                <img src="/img/ic_kakao.png" />
                <div class="login-sns-txt">카카오계정으로 계속하기</div>
            </div>
            <div class="login-btn twitter" onclick="onClickLogin('twitter')">
                <img src="/img/ic_twitter.png" />
                <div class="login-sns-txt">트위터로 계속하기</div>
            </div>
            <div class="login-btn google" onclick="onClickLogin('google')">
                <img src="/img/ic_google.png" />
                <div class="login-sns-txt">구글 계속하기</div>
            </div>
        </div>
    </div>
</div>
<%-include('footer.ejs')%>
